@use 'accordion';
@use 'form';
@use 'galeria';

$amarillo: #ffdb83;
$fondoclaro: #FFEBC0;
$verde: #8cae9d;

@mixin enlaces {
    color: $verde;
    text-decoration: none;

    &:hover {
        color: $verde;
    }
}

a {
    @include enlaces;
}

body {
    background-color: $fondoclaro;
}

ul {
    list-style: none;
}