$amarillo: #ffdb83;
$fondoclaro: #FFEBC0;
$verde: #8cae9d;

body {
    background-color: $fondoclaro;
}

ul {
    list-style: none;
}

#enviar {
  background-color: $verde;
  border-color: $verde;
  color: $fondoclaro;
}

#borrar {
  background-color: $verde;
  border-color: $verde;
  color: $fondoclaro;
}
